body {
  background-color: #f3e7db;
  font-family: 'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
}

big {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

caption {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

label {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

a {
  color: #ff6a00;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

header > nav {
  padding: 12px 0;
}

footer {
  width: 100%;
  height: 56px;
  position: absolute;
  bottom: 0;
}

a img {
  transition: 0.3s;
}

a img:hover {
  opacity: 0.8;
}


.tabelog-login-input {
  border-radius: 2px;
  border: solid 1px #b2b2b2;
  background-color: #ffffff;
}

.tabelog-check-label {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.tabelog-require-input-label {
  border-radius: 2px;
  background-color: #e2001b;
  padding: 0 6px;
}

.tabelog-require-input-label-text {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.tabelog-submit-button {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #e69d69;
  border-radius: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: 0.1s;
}

.tabelog-submit-button:hover {
  opacity: 0.8;
}

.tabelog-submit-button-disabled {
  border-radius: 2px;
  font-weight: bold;
  pointer-events: none;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  color: #b2b2b2;
  padding-top: 8px;
  padding-bottom: 8px;
}

.tabelog-login-text {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e69d69;
}

.tabelog-header-container {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #f1ece2;
}

.tabelog-header-search-input {
  border-radius: 2px;
  border: solid 1px #e5e5e5;
}

.tabelog-header-search-button {
  border-radius: 2px;
  background-color: #e69d69;
  transition: 0.1s;
}

.tabelog-header-search-button:hover {
  opacity: 0.8;
}

.tabelog-header-search-icon {
  color: #ffffff;
}

.tabelog-header-fav-icon {
  color: #191919;
}

.tabelog-header-shoppingcart-icon {
  color: #ffffff;
}

.tabelog-favorite-button {
  border-radius: 2px;
  border: solid 1px #f278cf;
  background-color: #ffffff;
  font-weight: 8px;
  padding-bottom: 8px;
  transition: 0.1s;
}

.tabelog-favorite-button:hover {
  opacity: 0.8;
}

.text-favorite {
  color: #f278cf;
}

.tabelog-sidebar-category-label {
  width: 156px;
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.tabelog-favorite-add-cart {
  border-radius: 2px;
  color: #ffffff;
  background-color: #e69d69;
}

.review-score-color {
  color: #e69d69;
}

.review-score-color:focus {
  color: #e69d69;
}

.tabelog-delete-submit-button {
  border-radius: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: 0.1s;
}

.tabelog-delete-submit-button:hover {
  opacity: 0.8;
}

.tabelog-product-img-detail {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.tabelog-product-img-recommend {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.tabelog-product-img-products {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.tabelog-product-img-cart {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

.tabelog-product-img-cart-history {
  width: 90%;
  height: 160px;
  object-fit: cover;
}

th, td {
  background-color: #f8fafc !important;
}